<section class="container" *ngIf="contact">
    <div class="buttons">
        <a (click)="goBack()"><i class="fas fa-caret-square-left fa-2x"></i></a>
        <a *ngIf="contact._id" (click)="removeContact()"><i class="fas fa-trash-alt fa-2x"></i></a>
    </div>
    <form (ngSubmit)="saveContact()" class="form">
            <input type="text" [(ngModel)]="contact.name" name="name" placeholder="Contact Name"/>
            <input type="text" [(ngModel)]="contact.phone" name="phone" placeholder="Contact Phone"/>
            <input type="email" [(ngModel)]="contact.email" name="email" placeholder="Contact Email"/>
        <button class="btn" type="submit">Submit</button>
    </form>
</section>