.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border: #ccc 1px double;
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 0.8rem;
  text-align: left;
  width: 300px;
}

.card-text {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #888;
}
