<section class="container" *ngIf="contact">
    <div class="buttons">
        <a (click)="goBack()"><i class="fas fa-caret-square-left fa-2x"></i></a>
        <a routerLink="/contact/edit/{{contact._id}}"><i class="fas fa-pen-square fa-2x"></i></a>
    </div>
    <div class="contact-details">
        <img class="contact-img" src="{{contact.img}}" alt="" />
        <div class="contact-spec">
            <h3><span>Name:</span>  {{contact.name}}</h3>
            <h3><span>Phone:</span> {{contact.phone}}</h3>
            <h3><span>Email:</span> {{contact.email}}</h3>
        </div>
    </div>
    <!-- <transfer-fund [contact]="contact" (addMove)="addMove($event)" ></transfer-fund> -->
    <!-- <move-list [moves]="movesToContact" [title]="'Your Moves'" ></move-list> -->
</section>